$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "chrome";
@import "tasks";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.input-row {
  @include make-row();
}

@media screen and (min-width: $screen-sm-min) {
  body {
    max-width: 730px;
  }
}
