<section role="main">
  <div class="tasks" ng-controller="TaskListCtrl">
    <h1 class="section-header" ng-bind="headerText"></h1>
    <div ng-if="task.new" class="new-task">
      <form name="taskForm">
      <div class="input-row">
        <label for="taskName">Name</label>
        <input type="text" name="taskName" id="taskName" required ng-model="task.new.name"/>
      </div>
      <div class="input-row">
        <label for="taskDescription">Description</label>
        <input type="text" name="taskDescription" id="taskDescription" ng-model="task.new.description"/>
      </div>
      <div class="input-row">
        <button type="submit" ng-disabled="taskForm.$invalid" ng-click="addTask(task.new);task.new = null;">Add</button>
      </div>
      </form>
    </div>
    <ol class="task-list">
      <li class="task" ng-class="{open: task.active}" ng-repeat="task in tasks">
        <div task="task"></div>
      </li>
    </ol>
  </div>
</section>
